.login-container {
  height: 100vh;
  width: 100vw;
  display: flex;
  justify-content: center;
  align-items: center;
   background: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), 
              url('/src/assets/FondoLogin.jpg');
}

.login-card {
  width: 380px;
  padding: 32px 24px;
  box-shadow: 0 8px 20px rgba(0, 0, 0, 0.616);
  border-radius: 16px;
  background-color: #ffffff;
}

.login-header {
  text-align: center;
  margin-bottom: 24px;
}

.login-title {
  margin-bottom: 0;
  color: #1677ff;
}

.login-subtitle {
  color: #888;
}

.login-button {
  border-radius: 8px;
  background-color: #1677ff;
  transition: all 0.3s ease;
}

.login-button:hover {
  background-color: #10253f !important;
}
