/* src/ui/components/forms/LoginForm.css */

.login-container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  background: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), 
              url('../../../assets/FondoLogin.jpg');
}

.login-card {
  width: 360px;
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.795);
  border-radius: 12px;
}
